{% url 'home' as home_url %}
{% url 'about' as about_us_url %}
{% url 'enter-room' as enter_room_url %}
{% url 'contact-us' as contact_us_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'logout' as logout_url %}

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>

<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <div>
                    <a href="/" class="flex items-center py-4 px-2">
                        <i class="fas fa-comment"></i>
                        <span class="font-semibold text-gray-500 text-lg px-2">Chat</span>
                    </a>
                </div>
                <div class="hidden md:flex items-center space-x-1">

                </div>
            </div>


            <div class="hidden md:flex items-center space-x-3 ">
                <a href="/"
                    class="py-4 px-2 text-green-500 {% if request.path == home_url %} border-b-4 border-green-500 font-semibold {% else %} font-semibold hover:text-green-500 transition duration-300 {% endif %}">
                    Home
                </a>
                <a href="{% url 'enter-room' %}"
                    class="py-4 px-2 text-green-500 {% if request.path == enter_room_url %} border-b-4 border-green-500 font-semibold {% else %} font-semibold hover:text-green-500 transition duration-300 {% endif %}">
                    Chat
                </a>
                <a href="{% url 'about' %}"
                    class="py-4 px-2 text-green-500 {% if request.path == about_us_url %} border-b-4 border-green-500 font-semibold {% else %} font-semibold hover:text-green-500 transition duration-300 {% endif %}">
                    About
                </a>
                <a href="{% url 'contact-us' %}"
                    class="py-4 px-2 text-green-500 {% if request.path == contact_us_url %} border-b-4 border-green-500 font-semibold {% else %} font-semibold hover:text-green-500 transition duration-300 {% endif %}">
                    Contact Us
                </a>
                {% if request.user.is_authenticated %}
                <div class="dropdown inline-block relative">
                    <button
                        class="bg-gray-200 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center hover:bg-green-500 hover:text-white transition duration-300">
                        <span class="mr-1">{{ request.user.username.capitalize }}
                            <i class="fas fa-user"></i>
                        </span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                        <li class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">
                            <a href="{% url 'profile' user %}">
                                View Profile
                            </a>
                        </li>
                        <li class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">
                            <a href="{% url 'room_list' %}">
                                Room List
                            </a>
                        </li>
                    </ul>
                </div>
                <button id="logout"
                    class="py-2 px-2 font-medium text-white bg-red-500 rounded hover:bg-red-400 transition duration-300">
                    Sign Out <i class="fas fa-sign-out-alt"></i>
                </button>
                {% else %}
                <a href="{% url 'login' %}"
                    class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300">
                    Sign In
                </a>
                <a href="{% url 'register' %}"
                    class="py-2 px-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">
                    Sign Up
                </a>
                {% endif %}
            </div>

            <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                    <svg class=" w-6 h-6 text-gray-500 hover:text-green-500 " x-show="!showMenu" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="hidden mobile-menu">
        <center>
            <ul>
                <li><a href="{% url 'home' %}"
                        class="{% if request.path == home_url %}block text-sm px-2 py-4 text-white bg-green-500 font-semibold {% else %}block text-sm px-2 py-4 hover:bg-green-500 transition duration-300 {% endif %}">Home</a>
                </li>
                <li><a href="{% url 'enter-room' %}"
                        class="{% if request.path == enter_room_url %}block text-sm px-2 py-4 text-white bg-green-500 font-semibold {% else %}block text-sm px-2 py-4 hover:bg-green-500 transition duration-300 {% endif %}">Chat</a>
                </li>
                <li><a href="{% url 'about' %}"
                        class="{% if request.path == about_us_url %}block text-sm px-2 py-4 text-white bg-green-500 font-semibold {% else %}block text-sm px-2 py-4 hover:bg-green-500 transition duration-300 {% endif %}">About</a>
                </li>
                <li><a href="{% url 'contact-us' %}"
                        class="{% if request.path == contact_us_url %}block text-sm px-2 py-4 text-white bg-green-500 font-semibold {% else %}block text-sm px-2 py-4 hover:bg-green-500 transition duration-300 {% endif %}">Contact
                        Us</a>
                </li>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'login' %}"
                        class="{% if request.path == login_url %}block text-sm px-2 py-4 text-white bg-green-500 font-semibold {% else %}block bg-green-200 text-sm px-2 py-4 hover:bg-green-500 transition duration-300 {% endif %}">Sign
                        In</a>
                </li>
                <li><a href="{% url 'register' %}"
                        class="{% if request.path == register_url %}block text-sm px-2 py-4 text-white bg-green-500 font-semibold {% else %}block bg-green-200 text-sm px-2 py-4 hover:bg-green-500 transition duration-300 {% endif %}">Sign
                        Up</a>
                </li>
                {% else %}
                <li>
                    <a onclick="alert_function()" id='logout-mobile-button'
                        class="{% if request.path == register_url %}block text-sm px-2 py-4 text-white bg-red-500 font-semibold {% else %}block bg-red-400 text-sm px-2 py-4 hover:bg-red-500 transition duration-300 {% endif %}">Sign
                        Out</a>

                </li>
                {% endif %}
            </ul>
        </center>
    </div>

    <script>
        const btn = document.querySelector("button.mobile-menu-button")
        const menu = document.querySelector(".mobile-menu")
        const mobile_button = document.getElementById('logout-mobile-button')

        function alert_function() {
            var confirm = window.confirm('Are You Sure you want to Logout?')
            if (confirm) {
                location.href = '/accounts/logout-user/'
            }
        }
        btn.addEventListener("click", function () {
            menu.classList.toggle("hidden")
        })
        var logout_button = document.getElementById('logout')
        logout_button.addEventListener('click', function () {
            var confirm = window.confirm('Are You Sure you want to Logout?')
            if (confirm) {
                location.href = '/accounts/logout-user/'
            }
        })
    </script>
</nav>