{% extends "base.html" %}

{% block title %} Success {% endblock %}

{% block content %}

    <div class="grid w-full min-h-screen bg-gray-900 place-content-center">
        <div class="text-center">
            <p class="text-3xl font-bold text-gray-100 text center md:text-6xl">
                Your password has been Successfully Set.
            </p>
            <br><br>
            <p class="text-white text-lg">
                Use the New Password to Login.<br>
            </p>
            <br><br>
            <div style="padding: 10px;">
                <a href="{% url 'login' %}" class="py-2 px-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">
                    Sign In
                </a>
            </div>
        </div>
    </div>

{% endblock content %}