{% extends "base.html" %}

{% block title %} Sent Email {% endblock %}

{% block content %}

    <div class="grid w-full min-h-screen bg-gray-900 place-content-center">
        <div class="text-center">
            <p class="text-3xl font-bold text-gray-100 text center md:text-6xl">
                Reset your Password
            </p>
            <br><br>
            <p class="text-white text-lg">
                An email has been sent with instructions to reset your Password.<br>
                Please Check it in the Spam/Promotions/Updates .
            </p>
        </div>
    </div>

{% endblock %}