{% extends "base.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    <div class="flex min-h-screen bg-white">
        <div class="w-1/2 bg-cover md:block hidden"
             style="background-image:  url('https://images.unsplash.com/photo-1520243947988-b7b79f7873e9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDd8fGJsYWNrJTIwZm9yZXN0fGVufDB8fDB8eWVsbG93&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60')">
        </div>
        <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
            <div class="text-left p-0 font-sans">
                <h1 class=" text-gray-800 text-3xl font-medium">Forgot your password?</h1>
                <h3 class="p-1 text-gray-700">
                    Enter your email address below, and we'll email instructions for setting a new one.
                </h3>

            </div>
            <div class="mt-10">
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div class="mt-10">
                        <input type="submit" value="Send me the Instructions"
                               class="py-3 bg-green-500 text-white w-full rounded hover:bg-green-600">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('id_email').focus()
    </script>

{% endblock content %}