{% extends 'base.html' %}

{% block title %} Change password {% endblock %}

{% block content %}

    <body class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">
        <div class="w-full md:w-1/2 flex flex-col">
            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Reset Your Password.</p>
                <form class="flex flex-col pt-3 md:pt-8" method="POST">{% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                            {% for err in field.errors %}
                                <center>
                                    <p class="text-red-500">{{ err }}</p>
                                </center>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    <div class="flex flex-col pt-4">
                        <input type="password" id="id_new_password1" name="new_password1"
                               placeholder="Enter Your New Password"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                        <br>
                    </div>
                    <div class="flex flex-col pt-4">
                        <input type="password" id="id_new_password2" name="new_password2"
                               placeholder="Re Enter Your New Password"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <br>
                    <div class="text-center">
                        <label class="inline-flex items-center mt-3">
                            <input type="checkbox" id="show_reset" onclick="show_password_reset()"
                                   class="form-checkbox h-4 w-4 text-gray-600">
                            <span class="ml-2 text-gray-700">Show Password</span>
                        </label>
                    </div>
                    <input type="submit" value="Reset Password"
                           class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                </form>
                <br><br>
                <div class="text-center">
                    <p>Already have an Account?
                        <a href="{% url 'login' %}" class="underline font-semibold">Login Here!</a>
                    </p>
                </div>
                <br>
                <div class="text-center">
                    <p>Don't have an account?
                        <a href="{% url 'register' %}" class="underline font-semibold">Register Here.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
        </div>
    </div>

    </body>

    <script>
        var password_reset_1 = document.getElementById('id_new_password1')
        var password_reset_2 = document.getElementById('id_new_password2')
        var show_password_reset_this = document.getElementById('show_reset')

        function show_password_reset() {
            if (show_password_reset_this.checked) {
                password_reset_1.type = 'text'
                password_reset_2.type = 'text'
            } else {
                password_reset_1.type = 'password'
                password_reset_2.type = 'password'
            }
        }
    </script>
{% endblock %}
