{% extends 'base.html' %}

{% block title %} Sign In {% endblock %}

{% block content %}

    <section class="min-h-screen flex flex-col">
        <div class="flex flex-1 items-center justify-center">
            <div class="rounded-lg sm:border-2 px-4 lg:px-24 py-16 lg:max-w-xl sm:max-w-md w-full text-center">
                <form class="text-center" method="POST">
                    {% csrf_token %}
                    <h1 class="font-bold tracking-wider text-3xl mb-8 w-full text-gray-600">
                        Sign In to Chat
                    </h1>
                    <div class="py-2 text-left">
                        {% for field in form %}
                            {{ field }}<br>
                            {% if field.errors %}
                                {% for err in field.errors %}
                                    <center>
                                        <strong>
                                            <p class="text-red-800" style="padding: 10px;">{{ err }}</p>
                                        </strong>
                                    </center>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <div>
                            <input class="cursor-pointer" type="radio" name="rememberme">
                            <span class="ml-2 text-gray-700">Remember Me</span>
                        </div>
                        <label class="inline-flex items-center mt-3">
                            <input type="checkbox" id="show" onclick="show_password()"
                                   class="form-checkbox h-4 w-4 text-gray-600">
                            <span class="ml-2 text-gray-700">Show Password</span>
                        </label>
                    </div>
                    <div class="py-2">
                        <button type="submit"
                                class="border-2 border-gray-100 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block w-full p-2 rounded-lg focus:border-gray-700 hover:bg-purple-700">
                            Sign In
                        </button>
                    </div>
                </form>
                <div class="text-center">
                    <a href="{% url 'password_reset' %}" class="hover:underline">Forgot password?</a>
                </div>
                <div class="text-center mt-12">
                    <span>
                        Don't have an account?
                    </span>
                    <a href="{% url 'register' %}"
                       class="font-light text-md text-indigo-600 underline font-semibold hover:text-indigo-800">
                        Create One for Free</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('id_username').focus()

        var password = document.getElementById('id_password')
        var check_box = document.getElementById('show')

        function show_password() {
            if (check_box.checked) {
                password.type = 'text'
            } else {
                password.type = 'password'
            }
        }
    </script>












{% endblock %}