{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}


    <div class="flex h-screen justify-center items-center">

        <section class="w-full max-w-2xl px-6 py-4 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
            <h2 class="text-3xl font-semibold text-center text-gray-800 dark:text-white">Let's Talk.</h2>
            {#            <p class="mt-3 text-center text-gray-600 dark:text-gray-400">Will get to you as Soon as Possible.</p>#}

            <div class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 md:grid-cols-2">
                <a href="https://www.google.com/maps/place/Chennai,+Tamil+Nadu/" target="_blank"
                   class="flex flex-col items-center px-4 py-3 text-gray-700 rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                              clip-rule="evenodd"/>
                    </svg>

                    <span class="mt-2">Chennai, TN</span>
                </a>

                {#                <a href="#"#}
                {#                   class="flex flex-col items-center px-4 py-3 text-gray-700 rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">#}
                {#                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">#}
                {#                        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"/>#}
                {#                    </svg>#}
                {##}
                {#                    <span class="mt-2">+91 **********</span>#}
                {#                </a>#}

                <a href="mailto:lordarvindthegamer@gmail.com"
                   class="flex flex-col items-center px-4 py-3 text-gray-700 rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
                    </svg>

                    <span class="mt-2">lordarvindthegamer@gmail.com</span>
                </a>
            </div>

            <form method="POST">{% csrf_token %}
                <div class="mt-6 ">
                    {% for field in form %}
                        {% if field.errors %}
                            {% for err in field.errors %}
                                <center>
                                    <strong>
                                        <p class="text-red-800" style="padding: 10px;">{{ err }}</p>
                                    </strong>
                                </center>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <div class="items-center -mx-2 md:flex">
                        <div class="w-full mx-2">
                            {{ form.name }}
                        </div>

                        <div class="w-full mx-2 mt-4 md:mt-0">
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="w-full mt-4">
                        {{ form.message }}
                    </div>

                    <div class="flex justify-center mt-6">
                        <button class="px-4 py-2 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
                                type="submit">
                            Send Message
                        </button>
                    </div>
                </div>
            </form>
        </section>

    </div>
{% endblock %}