{% include 'css/css.html' %}

<title>Chat | Home</title>

<div>
    <div class="relative min-h-screen  grid bg-black ">
        <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 ">
            <div class="relative sm:w-1/2 xl:w-3/5 bg-blue-500 h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden  text-white bg-no-repeat bg-cover relative"
                 style="background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png');">
                <div class="absolute bg-black  opacity-25 inset-0 z-0"></div>
                <div class="w-full  lg:max-w-2xl md:max-w-md z-10 items-center text-center ">
                    <div class=" font-bold leading-tight mb-6 mx-auto w-full content-center items-center ">
                        <div class="text-white ml-3 w-auto lg:h-20 h-15 inline">
                            <i class="fas fa-comment fa-6x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:items-center md:justify-left w-full sm:w-auto md:h-full xl:w-1/2 p-8  md:p-10 lg:p-14 sm:rounded-lg md:rounded-none">
                <div class="max-w-xl w-full space-y-12">
                    <div class="lg:text-left text-center">
                        <h2 class="mt-6  font-bold text-gray-100">
                            <i class="fas fa-comment fa-3x"></i>
                        </h2>
                        <h2 class="mt-6 text-7xl font-bold text-gray-100">
                            Happening Now!
                        </h2>
                        <p class="mt-10 text-4xl text-gray-200">Join Chat Today.</p>
                    </div>
                    <div class="flex flex-row justify-center items-center space-x-3"></div>
                    {% if request.user.is_authenticated %}
                    <div>
                        <a href="{% url 'enter-room' %}">
                            <button class="lg:w-3/5 w-full flex justify-center text-gray-100 p-4   rounded-full tracking-wide font-bold  focus:outline-none focus:shadow-outline hover:bg-indigo-600 shadow-lg bg-indigo-600 cursor-pointer transition ease-in duration-300">
                                Chat
                            </button>
                        </a>
                    </div>
                    {% else %}
                    <div>
                        <a href="{% url 'register' %}">
                            <button class="lg:w-3/5 w-full flex justify-center text-gray-100 p-4   rounded-full tracking-wide font-bold  focus:outline-none focus:shadow-outline hover:bg-indigo-600 shadow-lg bg-indigo-600 cursor-pointer transition ease-in duration-300">
                                Sign up
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'login' %}">
                            <button class="lg:w-3/5 w-full flex justify-center border-indigo-600 bg-transparent text-gray-100 p-4 border rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-gray-900 shadow-lg cursor-pointer transition ease-in duration-300">
                                Log in
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>