{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}

    <div class="h-screen font-sans login bg-cover">
        <div class="container mx-auto h-full flex flex-1 justify-center items-center">
            <div class="w-full max-w-lg">
                <div class="leading-loose">
                    <form class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl">
                        <p class="text-white font-medium text-center text-lg font-bold">Change Password</p><br>
                        <div class="">
                            {% for field in form %}
                                {{ field }}<br><br>
                                {% if field.errors %}
                                    {% for err in field.errors %}
                                        <center>
                                            <strong>
                                                <p class="text-red-800" style="padding: 10px;">{{ err }}</p>
                                            </strong>
                                        </center>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                        </div>

                        <div class="text-center">
                            <button type="submit" class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded">
                                Change Password
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <style>
        .login {
            background-image: url('http://bit.ly/2gPLxZ4');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

{% endblock %}