{% extends 'base.html' %}

{% block title %} Enter a Room {% endblock %}

{% block content %}

    <div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12"
         style="background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg'); background-size: cover;">
        <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
            <h1 class="font-bold text-center text-white text-2xl mb-5">Welcome {{ request.user.username }}</h1>
            <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
                <form method="POST">{% csrf_token %}
                    <div class="px-5 py-7">
                        {% for field in form %}
                            {{ field }}
                            {% if field.errors %}
                                {% for err in field.errors %}
                                    <center>
                                        <strong>
                                            <p class="text-red-800" style="padding: 10px;">{{ err }}</p>
                                        </strong>
                                    </center>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <button type="submit"
                                class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                            <span class="inline-block mr-2">Enter Room</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" class="w-4 h-4 inline-block">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                            </svg>
                        </button>
                    </div>
                </form>

                <div class="py-5">
                    <div class="grid grid-cols-2 gap-1">
                        <div class="text-center sm:text-left whitespace-nowrap">
                            <a href="/">
                                <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-yellow-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor" class="w-4 h-4 inline-block align-text-top">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
                                    </svg>
                                    <span class="inline-block ml-1">Return Home</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            document.getElementById('id_name').focus();
        </script>

{% endblock %}